---
import "../styles/global.css";

import i18n from "i18next";

import {
    ArrowDownCircleIcon,
    HandRaisedIcon,
} from "@heroicons/react/24/outline";
---

<section
    class="relative w-full min-h-svh overflow-hidden flex flex-col items-center
    bg-alice-blue-50
    text-custom-oscuro transition-colors duration-500 gap-4 md:gap-16"
>
    <div
        class="w-full min-h-svh mx-auto md:px-6 flex flex-col justify-between px-2"
    >
        <div class="mt-20 grid grid-cols-1 gap-8">
            <h1
                class="text-7xl md:text-[clamp(9rem,8rem,18rem)] text-alice-blue-400 uppercase font-extralight font-mono"
            >
                Ricardo Sanchez Saldivar
            </h1>
            <hr class="border-alice-blue-400 border-2" />
            <div class="grid grid-cols-2 gap-2">
                <h2
                    class="text-xl md:text-2xl text-alice-blue-400 uppercase font-extralight font-mono"
                >
                    Fullstack Software Engineer
                </h2>
                <div class="justify-self-end">
                    <a class="font-mono flex text-alice-blue-400 text-xs" href="mailto:ricsasa201@gmail.com"> 
                        <HandRaisedIcon className="text-alice-blue-400 h-4 w-4 md:h-6 md:w-6" />
                        {i18n.t("lets-work-together-label")}
                    </a>
                </div>
            </div>
        </div>

        <div class="mt-10 md:mt-5">
            <div class="md:grid md:grid-cols-2">
                <p
                    class="text-alice-blue-400 text-base md:text-2xl mb-10 font-extralight md:leading-loose font-mono"
                >
                    {i18n.t("summary-text")}
                </p>
            </div>
            <div class="flex justify-center mb-10">
                <ArrowDownCircleIcon
                    className="w-10 h-10 md:w-12 md:h-12 text-alice-blue-400"
                />
            </div>
        </div>
    </div>
</section>
