---
import "../styles/global.css";

import i18n from "i18next";

import { buildStaticPaths } from "astro-react-i18next/utils";
import { Font } from "astro:assets";

import Footer from "../components/Footer.astro";

export function getStaticPaths() {
  return buildStaticPaths();
}

---

<!doctype html>
<html lang={i18n.language}>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />

		<title>Ricardo Sanchez Saldivar</title>

		<Font cssVariable="--font-literata" preload />
		<Font cssVariable="--font-nunito" preload />
		<Font cssVariable="--font-share-tech" preload />
	</head>
	<body>

		<slot />
		<Footer />

	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>

<script>
  import { initCardAnimations } from "../scripts/cardAnimation";

  initCardAnimations();
</script>
